.contenedor-perfil{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color:rgb(17, 45, 78);
    color: #fff;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.btn-volver{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.btn-volver:hover{
    background-color: rgba(255, 255, 255, 0.425);
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.5s ease;
}

.perfil{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    gap: 20px;
}

.perfil__foto{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}

.perfil__foto img{
    width: 50%;
    box-shadow: 5px 10px 10px 0px black;
    border-radius: 20%;
}

.perfil__foto img:hover{
    animation: animacionFoto 1s ease-in-out;
    
}
@keyframes animacionFoto{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.perfil__info{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(63, 114, 175);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px 10px 0px black;
}
.perfil__redes{
    width: 100%;
    display: flex;
    gap: 30px;
}
.icono-red{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    filter: drop-shadow(0 0 0.30rem rgb(1, 1, 1));
}

.perfil__mas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    gap: 30px;
}

.perfil__skills{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    background:rgb(219, 226, 239);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 5px 10px 10px 0px black;
    border: ridge 10px rgb(63, 114, 175);
}

.social-media{
    width: 10%;
    padding: 10px;
}

.social-media:before {
    content: " ";
    display: block;
    width: 100%;
  }
  
  .social-media p {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media p:last-child {
    margin-right: 0;
  }

  .tooltip-social {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }

  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media p .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media p:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }

  .icono{
    width: 100%;
}

.icono:hover{
    filter: drop-shadow(0 0 0.30rem rgb(1, 1, 1));
    transform: scale(1.5);
    transition: all 0.5s ease;
  }

.perfil__proyectos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.proyecto{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(219, 226, 239);
    gap: 20px;
    border: ridge 10px rgb(63, 114, 175);
    font-size: 1.5rem;
    color: rgb(17, 45, 78);
    box-shadow: 5px 10px 10px 0px black;
}
.proyecto__imagenes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.proyecto__imagenes img{
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 0px black;
}

.proyecto__links{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    
}
.proyecto__links a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid rgb(17, 45, 78);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(63, 114, 175);
}
.proyecto__links a:hover{
    filter: drop-shadow(0 0 0.30rem rgb(233, 228, 228));
    background-color: rgba(236, 225, 225, 0.15);
    color: #F9F7F7;
    text-shadow:  2px 2px black;
}
.perfil__experiencia{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}
.experiencia{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.experiencia img{
    width: 10%;
    object-fit: cover;
    border-radius: 10px;
    border: #262626 2px solid;
}
.perfil__formacion{
    width: 80%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.formacion{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(219, 226, 239);
    border: ridge 10px rgb(63, 114, 175);
    font-size: 1.5rem;
    box-shadow: 5px 10px 10px 0px black;
    color:rgb(17, 45, 78) ;
}
.formacion img{
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
    border: #262626 2px solid;
}
.btn-volver-arriba-contenedor{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.btn-volver-arriba{
    display: flex;
    filter: invert(100%);
    border: none;
    background-image: url("https://cdn-icons-png.flaticon.com/512/2767/2767220.png");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    background-color: transparent;
    box-shadow: 0px 0px 5px 0px white;
    animation: bounce 1s both infinite
}

@media screen and (max-width: 768px){
    .perfil{
        flex-direction: column;
        gap: 10px
    }
    .perfil__foto{
        width: 100%;
    }
    .perfil__foto img{
        width: 50%;
    }
    .perfil__info{
        width: 100%;
    }
    .perfil__skills{
        width: 100%;
    }
    .social-media{
        padding: 0;
        width: 15%;
    }
    .perfil__proyectos{
        flex-direction: column;
    }
    .proyecto{
        width: 100%;
    }
    .proyecto__imagenes{
        width: 100%;
        gap: 20px;
    }
    .proyecto__imagenes img{
        width: 50%
    }
    .perfil__experiencia{
        width: 100%;
        flex-direction: column;
    }
    .experiencia{
        width: 100%;
    }
    .experiencia img{
        width: 100%;
    }
    .perfil__formacion{
        width: 100%;
        flex-direction: column;
    }
    .formacion{
        width: 100%;
    }
    .formacion img{
        width: 100%;
    }
}