

    .div11 {
      grid-area: div11;
    }
  
    .div2 {
      grid-area: div2;
      margin: 0 auto; 
      text-align: center;
      color: #fff;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      font-size: 2em;
      margin: 0 auto;
      border-right: 0.15em solid #18bdec;
      animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
    }
    @keyframes typing {
      from {
        width: 0;
        height: 50%;
      }
      to {
        width: 60%;
        height: 50%;
      }
    }
    @keyframes blink {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: #18bdec;
      }
    }


    .div3 {
      grid-area: div3;
      width: 80%;
      margin: 0 auto;
    }

.flip {
    position: relative;
    box-shadow: 0 0 10px rgba(223, 218, 218, 0.5);
    padding: 1em;
    transform-style: preserve-3d;
    transition: 3s ease;
    width: 100%;
    border:  #faf7f9 2px ridge
  }

  .flip:hover {
    transform: rotateY(180deg);
  }

  .flip .content {
    transform-style: preserve-3d;
  }
  
  .flip .back, .flip .front {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .flip .back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .flip h2,
  .flip p {
    transform: translateZ(90px);
    /* text-shadow: 0 0 3px black; */
    text-align: center;
  }
  
  .flip h2 {
    font-size: 2em;
    color: rgb(236, 234, 234);
    letter-spacing: 1px;
    text-shadow: 0 0 3px rgb(15, 15, 15);
  }
  
  .flip p {
    font-size: 2em;
    color: rgb(19, 18, 18);
    font-weight: bold;
    text-shadow: 0 0 3px rgb(252, 252, 252);
  }
  
  .flip::before,
  .flip::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: radial-gradient(circle at 25.82% -16.45%, #404242 0, #1c2c2c 25%, #484a4b 50%, #242c31 75%, #31475b 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg)translateZ(1px);
  }
  
  .flip::before {
    transform: none;
    background-image: radial-gradient(circle at 25.82% -16.45%, #404242 0, #1c2c2c 25%, #484a4b 50%, #242c31 75%, #31475b 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* .particula{
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    animation: particula 1s linear infinite;
    opacity: .3;
    bottom: 150;
    left: 5%;
  }

  @keyframes particula{
    0%{
      bottom: 0;
      opacity: 0;
    }
    30%{
      transform: translateX(30px)
    }
    50%{
      opacity: .4;
    }
    100%{
      bottom: 100vh;
      opacity: 0;
    }
  }

  .particula:nth-child(1){
    width: 50px;
    height: 50px;
left: 15%;
    animation-duration: 3s;
    animation-delay: 1s;
  }

  .particula:nth-child(2){
    width: 30px;
    height: 30px;
    left: 25%;
    animation-duration: 3s;
    animation-delay: 2s;
  }

  .particula:nth-child(3){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 3s;
  }

  .particula:nth-child(4){
    width: 50px;
    height: 50px;
    left: 45%;
    animation-duration: 3s;
    animation-delay: 4s;
  }

  .particula:nth-child(5){
    width: 60px;
    height: 60px;
    left: 55%;
    animation-duration: 3s;
    animation-delay: 5s;
  }

  .particula:nth-child(6){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 6s;
  }

  .particula:nth-child(7){
    width: 80px;
    height: 80px;
    left: 75%;
    animation-duration: 3s;
    animation-delay: 7s;
  }

  .particula:nth-child(8){
    width: 90px;
    height: 90px;
    left: 85%;
    animation-duration: 3s;
    animation-delay: 8s;
  } */

  @media screen and (max-width: 600px) {
    .div11{
      grid-area: div11;
    }
    .div2 {
      grid-area: div2;
      font-size: 1em;
      white-space: break-spaces
    }
    .div3 {
      grid-area: div3;
    }
    .flip {
      padding: 0.5em;
      width: 100%;
    }
    .flip h2 {
      font-size: 1.5em;
    }
    .flip p {
      font-size: 1.5em;
    }
    .parent {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr ;
      grid-template-areas:
        "div11"
        "div2"
        "div3";
    }

  }

  @media screen and (max-width: 1280px) {
    .div11{
      grid-area: div11;
    }
    .div2 {
      grid-area: div2;
      font-size: 1em;
      white-space: break-spaces
    }
    .div3 {
      grid-area: div3;
    }
    .flip {
      padding: 0.5em;
      width: 100%;
    }
    .flip h2 {
      font-size: 1.5em;
    }
    .flip p {
      font-size: 1.5em;
    }
    .parent {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr ;
      grid-template-areas:
        "div11"
        "div2"
        "div3";
    }
  }
  