.error__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #e4c3c3;
}
.error__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: red;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
}
.error__info img{
    width: 20%;
    border-radius: 50%;
    border:#000 solid 5px;
    padding: 10px;
}
.error__info img:hover{
    border: #000 solid 10px;
}
.error__footer{
    width: 100%;
}
.error__container button{
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}