.contenedor-about{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.contenedor-info-about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  
  .description-about-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}


.description-about-title p{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 5px 10px 10px 0px;
}

.description-about{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(249, 247, 247, 0.871);
    border-radius: 10px 10px 10px 10px;
    box-shadow: #070707 0px 0px 5px;
    padding: 1rem;
    border: #000000 1px solid;
}

.contenedor-info-tec{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contenedor-tecnologias{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tech{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 226, 239);
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 5px 10px 10px 0px;
  }
  
  .tech:hover{
    background-color: rgb(249, 247, 247);
    border-radius: 5px;
    box-shadow: 5px 10px 10px 0px black;
    color: #f4f4fa;
    text-shadow: rgb(7, 7, 7) 0px 0px 5px;
    animation: 1s ease-in-out 0s 1 normal none running bounce;

  }

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.social-media:before {
    content: " ";
    display: block;
    width: 100%;
  }
  
  .social-media label {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media label:last-child {
    margin-right: 0;
  }

  .tooltip-social {
    background: #262626;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media label .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media label:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }

  .tech img{
    width: 100%;
    filter: drop-shadow(5px 5px 10px rgb(33, 32, 32))
  }

  @media screen and (max-width: 1700px) {
    .description-about{
        font-size: 18px;
    }
    .tech{
        font-size: 18px;
    }
  }
  
  @media screen and (max-width: 1300px) {
    .contenedor-info-about{
      align-items: center;
      justify-content: space-around;
      
    }
    .description-about{
      font-size: 15px;
    }
    .description-about-title p{
      height: 100%;
    
    }
    .tech{
      font-size: 20px;
    }
    .tech img {
      width: 70px;
    }
    .tech label {
      width: 70px;
    }
    .social-media label:hover .tooltip-social {
      opacity: 1;
      transform: translate(-50%, -30%);
    }
  }
  
  @media screen and (max-width: 768px) {
    .description-about{
      font-size: 12px;
    }
    .description-about-title p{
      overflow:scroll;
      height: 80%;
    }
    .tech{
      font-size: 12px;
    }
  }
  @media screen and (max-width: 408px) {
    .description-about{
        font-size: 10px;
      }
      .description-about-title p{
        overflow: scroll;
        height: 80%;
      }
      .tech{
        font-size: 10px;
      }
      .tech img {
        width: 50px;
      }
      .tech label {
        width: 50px;
      }
      .social-media label:hover .tooltip-social {
        opacity: 1;
        transform: translate(-50%, -30%);
      }
  }