.contenedor-about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.contenedor-info-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

.description-about{
    color: rgb(7, 7, 7);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    background-color: rgba(34, 36, 39, 0.637);
    border-radius: 0px 50px 50px 50px;
    box-shadow: #070707 0px 0px 5px;
    padding: 1rem;
    border: #eeeef3 1px solid;
}

.tech{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.637);
    border-radius: 5px;
}
.tech:hover{
    background-color: rgba(10, 10, 10, 0.637);
    border-radius: 5px;
    color: #f4f4fa;
    text-shadow: rgb(7, 7, 7) 0px 0px 5px;
    animation: 1s ease-in-out 0s 1 normal none running bounce;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.social-media:before {
    content: " ";
    display: block;
    width: 100%;
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }

  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }

  .tech img{
    width: 100%;
    box-shadow: #070707 0px 0px 5px;
  }

  @media screen and (max-width: 768px) {
    .description-about{
        font-size: 1.5em;
    }
    .tech{
        font-size: 1.2rem;
    }
  }