

.contenedor-principal-home{

  /* position: relative; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("https://img.freepik.com/vector-gratis/fondo-blanco-dorado-tejido-costuras_53876-100895.jpg?w=1480&t=st=1673438389~exp=1673438989~hmac=8b93e49d97c3a11d7e397d9e26fcbf8a0dbc0f91517b3e9ddc8011d0ee831357"); */
  
  min-height: 100vh;
  
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.contenedor-home{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.contenedor-home-izq{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
overflow: hidden;
}
.contenedor-home-der{
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (max-height:734px) {
  .contenedor-home-der, .contenedor-home-izq{
    display: flex;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    }
  
}
@media (max-width:1200px) {
  .contenedor-principal-home{
    display: flex;
    flex-direction: column;
    width: 100%;
}

  .contenedor-home-der, .contenedor-home-izq{
    display: flex;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    }
}





@media (max-width: 768px) {
  .contenedor-principal-home{
    display: flex;
    height: auto;
  }
  .contenedor-home{
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
