.contenedor-de-pages{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position:relative;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  
    /* background: linear-gradient(181deg, #000000, #452e2e, #611010, #09374d, #00547b, #778d98, #778d98, #778d98); */
    background-color: aliceblue;
    background-size: 1600% 1600%;

    -webkit-animation: AnimationName 31s ease infinite;
    -moz-animation: AnimationName 31s ease infinite;
    animation: AnimationName 31s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:66% 0%}
    50%{background-position:35% 100%}
    100%{background-position:66% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:66% 0%}
    50%{background-position:35% 100%}
    100%{background-position:66% 0%}
}
@keyframes AnimationName {
    0%{background-position:66% 0%}
    50%{background-position:35% 100%}
    100%{background-position:66% 0%}
}


.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 48;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #0c0c0c;
  top: 33%;
  left: 19%;
  animation-duration: 16s;
  animation-delay: -1s;
  transform-origin: 5vw 18vh;
  box-shadow: 2vmin 0 0.3894334345707602vmin currentColor;
}
.background span:nth-child(1) {
  color: #0c0c0c;
  top: 33%;
  left: 65%;
  animation-duration: 9s;
  animation-delay: -5s;
  transform-origin: 19vw 9vh;
  box-shadow: -2vmin 0 0.9417111579920192vmin currentColor;
}
.background span:nth-child(2) {
  color: #0c0c0c;
  top: 66%;
  left: 15%;
  animation-duration: 20s;
  animation-delay: -17s;
  transform-origin: 25vw 7vh;
  box-shadow: 2vmin 0 1.2406498932047811vmin currentColor;
}
.background span:nth-child(3) {
  color: #0c0c0c;
  top: 24%;
  left: 84%;
  animation-duration: 9s;
  animation-delay: -14s;
  transform-origin: 22vw -13vh;
  box-shadow: -2vmin 0 0.39723085766235555vmin currentColor;
}
.background span:nth-child(4) {
  color: #0c0c0c;
  top: 44%;
  left: 62%;
  animation-duration: 15s;
  animation-delay: -14s;
  transform-origin: -1vw -24vh;
  box-shadow: -2vmin 0 0.6126246634983465vmin currentColor;
}
.background span:nth-child(5) {
  color: #0c0c0c;
  top: 26%;
  left: 34%;
  animation-duration: 6s;
  animation-delay: -7s;
  transform-origin: -3vw 0vh;
  box-shadow: 2vmin 0 0.8092783211908097vmin currentColor;
}
.background span:nth-child(6) {
  color: #0c0c0c;
  top: 88%;
  left: 56%;
  animation-duration: 12s;
  animation-delay: -11s;
  transform-origin: -19vw 15vh;
  box-shadow: 2vmin 0 0.6606484333327758vmin currentColor;
}
.background span:nth-child(7) {
  color: #0c0c0c;
  top: 1%;
  left: 93%;
  animation-duration: 18s;
  animation-delay: -5s;
  transform-origin: 23vw 17vh;
  box-shadow: 2vmin 0 1.0101570970452782vmin currentColor;
}
.background span:nth-child(8) {
  color: #0c0c0c;
  top: 24%;
  left: 36%;
  animation-duration: 24s;
  animation-delay: -15s;
  transform-origin: 11vw -10vh;
  box-shadow: -2vmin 0 1.1488646382718908vmin currentColor;
}
.background span:nth-child(9) {
  color: #0c0c0c;
  top: 86%;
  left: 57%;
  animation-duration: 8s;
  animation-delay: -8s;
  transform-origin: 25vw 5vh;
  box-shadow: 2vmin 0 0.7716228855597698vmin currentColor;
}
.background span:nth-child(10) {
  color: #0c0c0c;
  top: 17%;
  left: 63%;
  animation-duration: 17s;
  animation-delay: -9s;
  transform-origin: 7vw 17vh;
  box-shadow: 2vmin 0 0.6444264739559276vmin currentColor;
}
.background span:nth-child(11) {
  color: #0c0c0c;
  top: 41%;
  left: 25%;
  animation-duration: 23s;
  animation-delay: -12s;
  transform-origin: 18vw 14vh;
  box-shadow: -2vmin 0 0.7950224390019196vmin currentColor;
}
.background span:nth-child(12) {
  color: #0c0c0c;
  top: 24%;
  left: 17%;
  animation-duration: 11s;
  animation-delay: -8s;
  transform-origin: 2vw -22vh;
  box-shadow: 2vmin 0 0.6255707657570486vmin currentColor;
}
.background span:nth-child(13) {
  color: #0c0c0c;
  top: 79%;
  left: 28%;
  animation-duration: 11s;
  animation-delay: -10s;
  transform-origin: 16vw -9vh;
  box-shadow: 2vmin 0 0.8984444326322507vmin currentColor;
}
.background span:nth-child(14) {
  color: #0c0c0c;
  top: 3%;
  left: 50%;
  animation-duration: 23s;
  animation-delay: -3s;
  transform-origin: -24vw 17vh;
  box-shadow: 2vmin 0 0.9658194043790158vmin currentColor;
}
.background span:nth-child(15) {
  color: #0c0c0c;
  top: 62%;
  left: 92%;
  animation-duration: 9s;
  animation-delay: -12s;
  transform-origin: -12vw -12vh;
  box-shadow: 2vmin 0 0.6470482821795875vmin currentColor;
}
.background span:nth-child(16) {
  color: #0c0c0c;
  top: 34%;
  left: 79%;
  animation-duration: 17s;
  animation-delay: -3s;
  transform-origin: 4vw -6vh;
  box-shadow: 2vmin 0 0.6782378713735768vmin currentColor;
}
.background span:nth-child(17) {
  color: #626061;
  top: 5%;
  left: 42%;
  animation-duration: 13s;
  animation-delay: -16s;
  transform-origin: -2vw -8vh;
  box-shadow: -2vmin 0 0.38524723401421923vmin currentColor;
}
.background span:nth-child(18) {
  color: #626061;
  top: 53%;
  left: 30%;
  animation-duration: 14s;
  animation-delay: -7s;
  transform-origin: -8vw -20vh;
  box-shadow: -2vmin 0 1.1747682912743764vmin currentColor;
}
.background span:nth-child(19) {
  color: #626061;
  top: 83%;
  left: 56%;
  animation-duration: 6s;
  animation-delay: -9s;
  transform-origin: 11vw -16vh;
  box-shadow: 2vmin 0 1.1623507089556864vmin currentColor;
}
.background span:nth-child(20) {
  color: #2b2b2c;
  top: 3%;
  left: 70%;
  animation-duration: 16s;
  animation-delay: -12s;
  transform-origin: 5vw -3vh;
  box-shadow: -2vmin 0 1.0202408126058355vmin currentColor;
}
.background span:nth-child(21) {
  color: #242121;
  top: 89%;
  left: 83%;
  animation-duration: 14s;
  animation-delay: -15s;
  transform-origin: 0vw 2vh;
  box-shadow: -2vmin 0 0.2670899568843159vmin currentColor;
}
.background span:nth-child(22) {
  color: #5d5e66;
  top: 54%;
  left: 74%;
  animation-duration: 22s;
  animation-delay: -13s;
  transform-origin: 13vw 10vh;
  box-shadow: 2vmin 0 0.25311963983199104vmin currentColor;
}
.background span:nth-child(23) {
  color: #474850;
  top: 63%;
  left: 68%;
  animation-duration: 18s;
  animation-delay: -18s;
  transform-origin: -4vw -3vh;
  box-shadow: 2vmin 0 0.7626059672259171vmin currentColor;
}
.background span:nth-child(24) {
  color: #626061;
  top: 60%;
  left: 64%;
  animation-duration: 25s;
  animation-delay: -8s;
  transform-origin: -23vw -1vh;
  box-shadow: -2vmin 0 1.0569488687120203vmin currentColor;
}
.background span:nth-child(25) {
  color: #292828;
  top: 36%;
  left: 60%;
  animation-duration: 17s;
  animation-delay: -1s;
  transform-origin: 1vw -22vh;
  box-shadow: 2vmin 0 0.3113240620461388vmin currentColor;
}
.background span:nth-child(26) {
  color: #141414;
  top: 68%;
  left: 32%;
  animation-duration: 23s;
  animation-delay: -7s;
  transform-origin: 6vw 19vh;
  box-shadow: -2vmin 0 0.8660031410994367vmin currentColor;
}
.background span:nth-child(27) {
  color: #3f4049;
  top: 55%;
  left: 91%;
  animation-duration: 24s;
  animation-delay: -19s;
  transform-origin: -11vw -4vh;
  box-shadow: 2vmin 0 0.3144510074629854vmin currentColor;
}
.background span:nth-child(28) {
  color: #626061;
  top: 69%;
  left: 69%;
  animation-duration: 17s;
  animation-delay: -5s;
  transform-origin: -15vw -24vh;
  box-shadow: -2vmin 0 1.1585498782540893vmin currentColor;
}
.background span:nth-child(29) {
  color: #626061;
  top: 13%;
  left: 66%;
  animation-duration: 10s;
  animation-delay: -9s;
  transform-origin: 3vw -8vh;
  box-shadow: 2vmin 0 1.1048816469589102vmin currentColor;
}
.background span:nth-child(30) {
  color: #443b3b;
  top: 51%;
  left: 38%;
  animation-duration: 16s;
  animation-delay: -12s;
  transform-origin: -7vw -10vh;
  box-shadow: -2vmin 0 0.6992810223469992vmin currentColor;
}
.background span:nth-child(31) {
  color: #58595f;
  top: 26%;
  left: 98%;
  animation-duration: 21s;
  animation-delay: -14s;
  transform-origin: 2vw 19vh;
  box-shadow: -2vmin 0 1.1737795740237227vmin currentColor;
}
.background span:nth-child(32) {
  color: #161618;
  top: 16%;
  left: 58%;
  animation-duration: 24s;
  animation-delay: -12s;
  transform-origin: 12vw 8vh;
  box-shadow: 2vmin 0 0.4961291736679714vmin currentColor;
}
.background span:nth-child(33) {
  color: #272424;
  top: 12%;
  left: 58%;
  animation-duration: 14s;
  animation-delay: -4s;
  transform-origin: -23vw -12vh;
  box-shadow: 2vmin 0 0.4647729470514872vmin currentColor;
}
.background span:nth-child(34) {
  color: #626061;
  top: 77%;
  left: 91%;
  animation-duration: 18s;
  animation-delay: -17s;
  transform-origin: 0vw -15vh;
  box-shadow: 2vmin 0 0.54594589399152vmin currentColor;
}
.background span:nth-child(35) {
  color: #2b2b30;
  top: 28%;
  left: 11%;
  animation-duration: 13s;
  animation-delay: -12s;
  transform-origin: 8vw -9vh;
  box-shadow: 2vmin 0 0.5727879579072723vmin currentColor;
}
.background span:nth-child(36) {
  color: #1f1f24;
  top: 12%;
  left: 73%;
  animation-duration: 23s;
  animation-delay: -7s;
  transform-origin: 20vw 23vh;
  box-shadow: -2vmin 0 0.3426686531823082vmin currentColor;
}
.background span:nth-child(37) {
  color: #bfc1df;
  top: 76%;
  left: 95%;
  animation-duration: 25s;
  animation-delay: -18s;
  transform-origin: -10vw 3vh;
  box-shadow: -2vmin 0 0.3547848295656315vmin currentColor;
}
.background span:nth-child(38) {
  color: #282935;
  top: 60%;
  left: 88%;
  animation-duration: 11s;
  animation-delay: -11s;
  transform-origin: -2vw -5vh;
  box-shadow: -2vmin 0 0.42506399694422603vmin currentColor;
}
.background span:nth-child(39) {
  color: #3b3b3d;
  top: 100%;
  left: 22%;
  animation-duration: 12s;
  animation-delay: -10s;
  transform-origin: 0vw 7vh;
  box-shadow: -2vmin 0 0.8942474444673778vmin currentColor;
}
.background span:nth-child(40) {
  color: #626061;
  top: 65%;
  left: 79%;
  animation-duration: 15s;
  animation-delay: -5s;
  transform-origin: 1vw -10vh;
  box-shadow: -2vmin 0 0.8462810890013415vmin currentColor;
}
.background span:nth-child(41) {
  color: #111010;
  top: 34%;
  left: 31%;
  animation-duration: 6s;
  animation-delay: -7s;
  transform-origin: 12vw -7vh;
  box-shadow: 2vmin 0 0.633382738598397vmin currentColor;
}
.background span:nth-child(42) {
  color: #161616;
  top: 46%;
  left: 35%;
  animation-duration: 24s;
  animation-delay: -18s;
  transform-origin: 3vw 15vh;
  box-shadow: -2vmin 0 0.6549362123473723vmin currentColor;
}
.background span:nth-child(43) {
  color: #030303;
  top: 87%;
  left: 47%;
  animation-duration: 20s;
  animation-delay: -5s;
  transform-origin: 10vw -22vh;
  box-shadow: -2vmin 0 0.9781408430699265vmin currentColor;
}
.background span:nth-child(44) {
  color: #181717;
  top: 3%;
  left: 3%;
  animation-duration: 23s;
  animation-delay: -18s;
  transform-origin: 2vw 0vh;
  box-shadow: 2vmin 0 0.7271495529368088vmin currentColor;
}
.background span:nth-child(45) {
  color: #626061;
  top: 92%;
  left: 80%;
  animation-duration: 19s;
  animation-delay: -6s;
  transform-origin: 18vw 3vh;
  box-shadow: 2vmin 0 0.8529071573051974vmin currentColor;
}
.background span:nth-child(46) {
  color: #787a8a;
  top: 31%;
  left: 59%;
  animation-duration: 20s;
  animation-delay: -2s;
  transform-origin: -4vw 14vh;
  box-shadow: -2vmin 0 0.8206278370524642vmin currentColor;
}
.background span:nth-child(47) {
  color: #53535c;
  top: 70%;
  left: 58%;
  animation-duration: 19s;
  animation-delay: -4s;
  transform-origin: -6vw 5vh;
  box-shadow: 2vmin 0 0.42652784480318284vmin currentColor;
}
.background span:nth-child(48) {
  color: #1a1616;
  top: 38%;
  left: 73%;
  animation-duration: 14s;
  animation-delay: -20s;
  transform-origin: -4vw -21vh;
  box-shadow: -2vmin 0 1.2299530051326406vmin currentColor;
}
.background span:nth-child(49) {
  color: #626061;
  top: 62%;
  left: 81%;
  animation-duration: 6s;
  animation-delay: -5s;
  transform-origin: 3vw -3vh;
  box-shadow: -2vmin 0 0.6171676804928505vmin currentColor;
}



  @keyframes backgroundAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }


.landing{
  width: 100%;
  height: 100vh;
}
.about{
  width: 100%;
  height: 100vh;
}
.home{
  width: 100%;
  height: 100vh;
}
.footer{
  width: 100%;
  height: 20vh;
}

@media (max-width:768px) {
  .landing{
    width: 100%;
    height: 90vh;
  }
  .home{
    width: 100%;
    height: 200vh;
  }
  .about{
    width: 100%;
    height: 300vh;
  }
}